.intro {
  text-align: center;
  padding-top: 1vh;
}

.two-columns {
  display: flex;
  width: 100%;
  flex-direction: column;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.about-me {
  height: 100%;
  text-align: center;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin-top: 1vh;
}

.recommended-channels {
  display: flex;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}

.link-list {
  text-align: center;
  padding-top: 1.5vh;
  justify-content: center;
}

.note {
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.index-posts {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: center;
}

.post-list-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1vh;
}

.post-date {
  padding: 0;
  margin: 0;
}

.page-link {
  color: #7aa2f7;
  text-decoration: none;
  font-weight: 600;
}

.page-link:hover {
  color: #3d59a1;
}

@media (max-width: 400px) {
  .page-link {
    font-size: 0.75rem !important;
  }
}

@media (max-width: 500px) {
  .recommended-channels {
    flex-direction: column;
  }

  .recommended-channels > a {
    padding-bottom: 3vh;
  }

  .post-date {
    display: none;
  }

  .page-link {
    font-size: 0.85rem;
  }

  .post-list-item {
    margin-top: 3vh;
    width: auto;
  }
}

@media (max-width: 768px) {
  .about-me {
    width: 100%;
  }

  .link-list {
    width: 100%;
  }

  .recommended-channels {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .post-date {
    display: none;
  }

  .
}

@media (min-width: 1040px) {
  .about-me {
    width: 100%;
  }

  .link-list {
    width: 100%;
  }

  .recommended-channels {
    flex-direction: row;
  }
  .two-columns {
    flex-direction: row;
    width: 100%;
  }

  .post-date {
    display: none;
  }

  .recommended-channels {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

@media (min-width: 1368px) {
  .post-date {
    display: flex;
  }

  .recommended-channels {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
